/* CSS Document */

body,ul,div{margin:0;padding:0;font-size:12px;}
body{behavior:url(./IE6_hover/csshover.htc);/*ie6支持其他元素的hover效果*/}
ul{list-style:none;}
a{text-decoration:none;}
.main{margin:50px auto 0;width:500px;}
.main p{color:#915833;}
.main textarea{width:500px;height:50px;resize:none;}
.main ul li{float:left;padding:5px 20px;}
.main li a{color:#A8A8A8}
li{ background:url(../images/basic.png) no-repeat;}
/*初始样式*/
.main_expression{background-position:0 6px;}
.main_animation{background-position:0 -42px;}
.main_picture{background-position:0 -92px;}
.main_video{background-position:0 -140px;}
.main_template{background-position:0 -189px;}
.main_more{background-position:0 -238px;}
.main_topic{background-position:0 -276px;}
.main_vote{background-position:0 -327px;}
.main_annex{background-position:0 -376px;}
.main_user{background-position:0 -429px;}
.main_url{background-position:0 -482px;}
/*hover样式*/
.main_expression:hover{background-position:0 -17px;}
.main_animation:hover{background-position:0 -68px;}
.main_picture:hover{background-position:0 -116px;}
.main_video:hover{background-position:0 -164px;}
.main_template:hover{background-position:0 -215px;}
.main_more:hover{background-position:0 -256px;}
.main_topic:hover{background-position:0 -301px;}
.main_vote:hover{background-position:0 -351px;}
.main_annex:hover{background-position:0 -403px;}
.main_user:hover{background-position:0 -455px;}
.main_url:hover{background-position:0 -508px;}
.main_more_ul{position:absolute;display:none;margin-left:-20px; _margin-left:-50px;_margin-top:20px;}
.main_more_ul li{clear:both;}
.main_more:hover ul{display:block;}
.submit_button{float:right;margin:5px;background:none #B78D63;border: 1px solid #9D7E60;color:#fff;width: 66px;height:22px;-moz-border-radius:2px;/*FF低版本 圆角*/-webkit-border-radius:2px;/*Chorme和Safari低版本 圆角*/border-radius:2px;/*其他浏览器 圆角*/behavior:url(js/tool_iecss3.htc);/*IE浏览器 圆角*/ }