<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><{$title}></title>
<script src="__PUBLIC__/Js/check.js"></script>
<link href="__PUBLIC__/Css/login.css" rel="stylesheet" type="text/css" />
<style type="text/css">
.stats1{
	color:#aaa;
}
.stats2{
	color:#000;
}
.stats3{
	color:red;
}
.stats4{
	color:green;
}
a:link {
	color: #999;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #999;
}
a:hover {
	text-decoration: none;
	color: #09F;
}
a:active {
	text-decoration: none;
}
</style>
</head>

<body>

{__CONTENT__}

<!--尾部-start-->
<include file="Other:footer" />
<!--尾部-end-->

</body>
</html>